body {
    font-family: 'Poiret One', italic;
}

.logo {
    display: inline-block;
    float: left;
}

.logo img {
    padding: 15px 10px;
    width: 110px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.blocks-menus {
    background: white;
    padding: 20px 10px;
    text-align: center;
}

.blocks-menus .primary-menus {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.blocks-menus .primary-menus i {
    padding: 0 10px;
}

.blocks-menus .primary-menus li {
    list-style: none;
    float: left;
    padding: 0 10px;
}

.blocks-menus .primary-menus li a {
    text-decoration: none;
    font-family: 'Poiret One', italic;
    text-transform: uppercase;
    font-weight: normal;
    color: #303030;
    font-size: 19px;
    font-weight: 900;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.blocks-menus .primary-menus li a:hover {
    color: #D4B062;
}

.blocks-menus .menus-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.blocks-menus .dropdown {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #ECECEC;
    padding: 10px 30px;
    z-index: 999;
    background: white;
    width: 100%;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.blocks-menus .dropdown li {
    line-height: 30px;
    float: none;
}

.blocks-menus .dropdown a {
    font-size: 11px;
    font-weight: normal;
}

.blocks-menus .menus-dropdown {
    position: relative;
}

.blocks-menus .menus-megamenus:hover .mega-menus {
    opacity: 1;
    visibility: visible;
}

.blocks-menus .mega-menus {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 15px auto;
    width: 80%;
    border: 1px solid #ECECEC;
    padding: 0 15px;
    min-height: 400px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    background-image: url('https://images.pexels.com/photos/397998/pexels-photo-397998.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.blocks-menus .mega-menus li {
    float: none;
    text-align: left;
    padding: 0;
}

.blocks-menus .section {
    float: left;
    margin: 35px 15px;
}

.blocks-menus .section h3 {
    font-family: 'Poiret One', italic;
    position: relative;
    font-size: 26px;
    color: #D7CCC8;
    padding: 10px 0;
    text-transform: inherit;
    border-bottom: 1px solid #d6d6d6;
}

body {
    background: url(//subtlepatterns.com/patterns/scribble_light.png);
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}

#wrap {
    width: 90%;
    max-width: 1600px;
    margin: 50px auto;
}

.container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.inner-testimonial {
    text-align: center;
    background-color: #fff;
}


h3.city-name {
    padding: 10px 0;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

p.text-testimonial {
    padding: 10px 0;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 25px;
}

.block-items {
    cursor: default;
}

.owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 18px;
    height: 18px;
}

footer {
    position: relative;
    float: none;
    margin-bottom: -7px;
    font-family: serif;
    font-style: italic;
    background: rgb(192, 192, 192);
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.footer-address {
    display: inherit;
    font-style: normal;
}